@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Inter:wght@400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
  width: 100%;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.title {
  font-family: "Caveat", sans-serif;
}

.category-card:hover {
  background-size: 105%;
  transition: background-size 0.5s cubic-bezier(0.25, 0.45, 0.45, 0.95);
}
.category-card:hover > .label {
  background-color: white;
  transition: 200ms ease-in-out;
}
.input {
  border-bottom: 1px black solid;
}

.spinner {
  position: absolute;
  width: 9px;
  height: 9px;
}

.spinner div {
  position: absolute;
  width: 50%;
  height: 150%;
  background: #0d0c22;
  transform: rotate(calc(var(--rotation) * 1deg))
    translate(0, calc(var(--translation) * 1%));
  animation: spinner-fzua35 1s calc(var(--delay) * 1s) infinite ease;
}

.spinner div:nth-child(1) {
  --delay: 0.1;
  --rotation: 36;
  --translation: 150;
}

.spinner div:nth-child(2) {
  --delay: 0.2;
  --rotation: 72;
  --translation: 150;
}

.spinner div:nth-child(3) {
  --delay: 0.3;
  --rotation: 108;
  --translation: 150;
}

.spinner div:nth-child(4) {
  --delay: 0.4;
  --rotation: 144;
  --translation: 150;
}

.spinner div:nth-child(5) {
  --delay: 0.5;
  --rotation: 180;
  --translation: 150;
}

.spinner div:nth-child(6) {
  --delay: 0.6;
  --rotation: 216;
  --translation: 150;
}

.spinner div:nth-child(7) {
  --delay: 0.7;
  --rotation: 252;
  --translation: 150;
}

.spinner div:nth-child(8) {
  --delay: 0.8;
  --rotation: 288;
  --translation: 150;
}

.spinner div:nth-child(9) {
  --delay: 0.9;
  --rotation: 324;
  --translation: 150;
}

.spinner div:nth-child(10) {
  --delay: 1;
  --rotation: 360;
  --translation: 150;
}

@keyframes spinner-fzua35 {
  0%,
  10%,
  20%,
  30%,
  50%,
  60%,
  70%,
  80%,
  90%,
  100% {
    transform: rotate(calc(var(--rotation) * 1deg))
      translate(0, calc(var(--translation) * 1%));
  }

  50% {
    transform: rotate(calc(var(--rotation) * 1deg))
      translate(0, calc(var(--translation) * 1.5%));
  }
}
.product-overlay {
  display: none;
}
.product-item:hover > .product-overlay {
  display: flex;
}

.product-list > div:nth-child(even) {
  flex-direction: row-reverse;
}

.product-list > div:last-child {
  .product-content-container {
    border: none;
  }
}

/* FILEPATH: /c:/Users/Buchi/Documents/Web Dev/react/ecommerce-w-firebase/ecommerceapp-w-firebase/style.css */

/* BEGIN: Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  margin-right: 30px;
}

::-webkit-scrollbar-thumb {
  background-color: black;
  
}
/* END: Custom Scrollbar */


@media (max-width: 430px) {
  .product-list > div:nth-child(even) {
    flex-direction: column;
  }
}
@media (max-width: 430px) {
  .product-list > div {
    flex-direction: column;
  }
}
